<h1>Edycja produktu {{product.name}}</h1>

<form action="/dashboard/produkty/edytuj/{{_id}}" method="POST">
  <label for="name">Nazwa</label><br />
  <input type="text" id="name" name="name" {{product.name}} required />
  <br /><br />
  <label for="name">Cena</label><br />
  <input type="text" id="price" name="price" {{product.price}} required />
  <br /><br />
  <label for="name">Waga</label><br />
  <input type="text" id="weight" name="weight" {{product.weight}} required />
  <br /><br />
  <label for="name">Ilość</label><br />
  <input
    type="text"
    id="quantity"
    name="quantity"
    {{product.quantity}}
    required
  />
  <br /><br />
  <button type="submit">Zakończ edycję</button>
</form>