<h1>Dane płatności</h1>

<form action="/zamowienie/{{cartId}}" method="POST">
  <label for="name">Imię</label><br />
  <input type="text" id="name" name="name" required />
  <br /><br />
  <label for="name">Nazwisko</label><br />
  <input type="text" id="surname" name="surname" required />
  <br /><br />
  <label for="name">Adres email</label><br />
  <input type="text" id="email" name="email" required />
  <br /><br />
  <label for="name">Numer telefonu</label><br />
  <input type="text" id="phoneNumber" name="phoneNumber" required />
  <br /><br />
  <label for="name">Kraj</label><br />
  <input type="text" id="country" name="country" required />
  <br /><br />
  <label for="name">Ulica</label><br />
  <input type="text" id="street" name="street" required />
  <br /><br />
  <label for="name">Numer domu/mieszkania</label><br />
  <input type="text" id="suite" name="suite" required />
  <br /><br />
  <label for="name">Miasto</label><br /><br />
  <input type="city" id="city" required></input>
  <br /><br />
  <label for="name">Kod pocztowy</label><br /><br />
  <input type="zipcode" id="zipcode" required></input>
  <br /><br />

  <input type="hidden" name="shipment" value="{{shippingCost}}" />
  <input type="hidden" name="cartId" value="{{cartId}}" />
  <button type="submit">Złóż zamówienie</button></form>

  <div class="order"></div>
  <h2>Twoje zamówienie<h2>
    <h3>Produkty</h3>
    {{#each cartProducts}}
    <p>{{name}} <br> ilość: {{quantity}} <br> cena: {{price}} zł</p>
    {{/each}}
    <p>Koszt wysyłki: {{shippingCost}}</p>
    <p>Suma: {{totalCost}} zł</p>
    {{!-- trzeba zrobić do tego działający formularz + dodanie kwoty wysyłki do sumy zamówienia --}} </span><br><br>
                <button>Kupuję i płacę</button>
</div>