<div class="cart">

<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Cena</th>
      <th>Ilość</th>
    </tr>
  </thead>

  <tbody class="main-list">
    {{#each cartProducts}}
      <tr>
        <td class="main-pagetd">{{name}}<img src="/uploads/{{images}}" /></td>
        <td>{{price}} zł</td>
        <td><input
            type="number"
            name="quantity"
            value="{{quantity}}"
            min="{{quantity}}"
          /></td>

        <td><form action="/koszyk/{{../cartId}}/product/{{_id}}" method="POST">
        <input type="hidden" name="delete" value="delete">
        <button type="submit">Usuń z koszyka</button>
        </form>
        </td>
      </tr>
 {{/each}}
  </tbody>
</table>

<div class="shipment">
  <h2>Podsumowanie koszyka<h2>
    <p>Kwota {{cartTotal}} zł</p>
    <h3>Wysyłka</h3>
    <form action="/koszyk/{{cartId}}/dostawa" method="POST">
     {{#each shipmentOptions}}
  <input type="radio" id="shipment{{_id}}" name="shipment" value="{{_id}}">
  <label for="shipment{{_id}}">{{name}} - {{cost}}</label><br>
  <input type="radio" id="optionTwo" name="shipment" value="11.90">
  <label for="optionTwo">Paczkomat 11.90zł</label><br>
  <input type="radio" id="optionThree" name="shipment" value="14.90">
  <label for="optionThree">Przesyłka kurierska 14.90zł</label><br>
   <input type="radio" id="optionFour" name="shipment" value="16.90">
  <label for="optionFour">Przesyłka kurierska za pobraniem 16.90zł</label><br><br>
{{/each}}
<button type="submit">Przelicz całkowitą kwotę zamówienia</button>
</form><br><br><br>

<h2>Suma zamówienia: {{totalCost}} zł</h2>
                <a href="/zamowienie/{{cartId}}">Przejdź do kasy</a><br><br>
                <a href="/produkty">Kontynuuj zakupy</a>
</div>

</div>