<div class="cart">

<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Cena</th>
      <th>Ilość</th>
    </tr>
  </thead>

  <tbody class="main-list">
    {{#each cartProducts}}
      <tr>
        <td class="main-pagetd">{{name}}<img src="/uploads/{{images}}" /></td>
        <td>{{price}} zł</td>
        <td><input
            type="number"
            name="quantity"
            value="{{quantity}}"
            min="{{quantity}}"
          /></td>

        <td><form action="/koszyk/{{../cartId}}/product/{{_id}}" method="POST">
        <input type="hidden" name="delete" value="delete">
        <button type="submit">Usuń z koszyka</button>
        </form>
        </td>
      </tr>
 {{/each}}
  </tbody>
</table>

<div class="shipment">
  <h2>Podsumowanie koszyka<h2>
    <p>Kwota {{cartTotal}} zł</p>
    <h3>Wysyłka</h3>
    <form action="/koszyk/{{cartId}}" method="POST">
  <input type="radio" id="pickup" name="shipment" value="9.00">
  <label for="pickup">Punkt odbioru 9.00zł</label><br>
  <input type="radio" id="apm" name="shipment" value="11.90">
  <label for="apm">Paczkomat 11.90zł</label><br>
  <input type="radio" id="delivery-man" name="shipment" value="14.90">
  <label for="delivery-man">Przesyłka kurierska 14.90zł</label><br>
   <input type="radio" id="delivery-man-two" name="shipment" value="16.90">
  <label for="delivery-man-two">Przesyłka kurierska za pobraniem 16.90zł</label><br><br>
<button type="submit">Przelicz całkowitą kwotę zamówienia</button>
</form><br><br><br>

<h2>Suma zamówienia: {{totalCost}} zł</h2>
                <a href="/zamowienie">Przejdź do kasy</a><br><br>
                <a href="/produkty">Kontynuuj zakupy</a>
</div>

</div>