<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Cena</th>
      <th>Ilość</th>
    </tr>
  </thead>

  <tbody class="main-list">
    {{#each cartProducts}}
      <tr>
        <td class="main-pagetd">{{name}}<img src="/uploads/{{images}}" /></td>
        <td>{{price}} zł</td>
        <td><input
            type="number"
            name="quantity"
            value="{{quantity}}"
            min="{{quantity}}"
          /></td>
        <td><a href="/usun">Usuń z koszyka</a></td>
      </tr>
    {{/each}}
    <tr><td>Suma {{cartTotal}} zł</td>
      <td><a href="/produkty">Kontynuuj zakupy</a></td>
      <td> <a href="/kasa">Przejdź do kasy</a></td>
    </tr>
  </tbody>
</table>