<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Cena</th>
      <th>Ilość</th>
    </tr>
  </thead>

  <tbody class="main-list">
    {{#each cartProducts}}
      <tr>
        <td class="main-pagetd">{{name}}<img src="/uploads/{{images}}" /></td>
        <td>{{price}} zł</td>
        <td><input
            type="number"
            name="quantity"
            value="{{quantity}}"
            min="{{quantity}}"
          /></td>

        <td>{{#if this.productId}}<a href="/koszyk/{{../cartId}}/product/{{this.productId}}" onclick="return confirm('Czy na pewno chcesz usunąć produkt z koszyka?');"> Usuń z
            koszyka</a>{{else}}
            <span>nie ma ID produktu</span>{{/if}}</td>
      </tr>
 {{/each}}
  </tbody>
</table>

<div class="shipment">
  <h2>Podsumowanie koszyka<h2>
    <p>Kwota {{cartTotal}} zł</p>
    <h3>Wysyłka</h3>
    <form>
  <input type="radio" id="pickup" name="shipment" value="pickup">
  <label for="pickup">Punkt odbioru 9.00zł</label><br>
  <input type="radio" id="apm" name="shipment" value="APM">
  <label for="apm">Paczkomat 11.90zł</label><br>
  <input type="radio" id="delivery-man" name="shipment" value="delivery-man">
  <label for="delivery-man">Przesyłka kurierska 14.90zł</label><br>
   <input type="radio" id="delivery-man-two" name="shipment" value="delivery-man-two">
  <label for="delivery-man-two">Przesyłka kurierska za pobraniem 16.90zł</label>
</form><br><br><br>
                <a href="/zamowienie">Przejdź do kasy</a><br><br>
                <a href="/produkty">Kontynuuj zakupy</a>
</div>

